.slide-in {
    transform: translateY(100dvh);
  animation: slideIn 1s;
  }
@keyframes slideIn {
    0% {
      transform: translateY(100dvh);
  }
  100% {
      transform: translateY(0);
  }
}